{% extends "IMS_app/base.html" %} {% load static %} {% block content %}

<h1 style="color: #333; margin-bottom: 1em">Courses</h1>

<div class="cards-wrapper">
    {% for course in coursies %}
    <div class="card-container">
      <span class="card-title"><h1>{{ course.name }}</h1></span>
      <span class="card-discreption">{{ course.description }}</span>
      <span>{{ course.students.count }}</span>
    </div>
    {% endfor %}
</div>

<script>
  $(document).ready(function () {
    $("#students").DataTable();
  });
</script>
{% endblock %}
