{% extends "IMS_app/base.html" %} {% load static %} {% block content %}
    <div class="confirm_del_container container">
        <h2 >Confirm Deletion</h2>
        <p>Are you sure you want to delete <strong>{{ course.name }}</strong> ({{ course.description }})?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="confirm_button">Yes, delete</button>
            <button onclick="window.location.href='{% url 'course_list' %}'" class="cancel_button">Cancel</button>
        </form>
    </div>
{% endblock %}
