{% extends "IMS_app/base.html" %} {% load static %} {% block content %}
<h1 style="color: #333; margin-bottom: 1em; margin-left: 8px">CS Information Management</h1>

<div class="wrapper">
  <!-- <div class="gender-stats-container container" style="grid-area: box-1">
    <p><strong>Total Students:</strong> {{ total_students }}</p>
  </div>

  <div class="student-stats-container container" style="grid-area: box-2">
    <canvas id="yearLevelChart"></canvas>
  </div> -->
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
