{% extends "IMS_app/base.html" %} {% load static %} {% block content %}
<h1 style="color: #333; margin-bottom: 1em">CS Information Management</h1>

<div class="wrapper">
  <div class="gender-stats-container container" style="grid-area: box-1">
    <h1>Student Dashboard</h1>
    <p><strong>Total Students:</strong> {{ total_students }}</p>

    <h2>Gender Ratio</h2>
    <canvas id="genderChart" height="1" width="50"></canvas>
  </div>

  <div class="student-stats-container container" style="grid-area: box-2">
    <h2>Students per Year Level</h2>
    <canvas id="yearLevelChart" height="15" width="50"></canvas>
    <ul>
      {% for level in year_level_data %}
      <li>Year {{ level.year_level }}: {{ level.count }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="age-stats-container container" style="grid-area: box-3">
    <h2>Age Statistics</h2>
    <canvas id="ageStatsChart" height="80" width"50"></canvas>
    <ul>
      <li>
        <span>Average Age</span> 
        {{ average_age }}
      </li>
      <li>
        <span>Youngest Student Age</span>
        {{ min_age }}
      </li>
      <li>
        <span>Oldest Student Age</span>
        {{ max_age }}
      </li>
    </ul>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const genderChart = new Chart(document.getElementById('genderChart'), {
    type: 'doughnut',
    data: {
      labels: [{% for gender, count in gender_data.items %}'{{ gender }}',{% endfor %}],
      datasets: [{
        label: 'Gender Ratio',
        data: [{% for gender, count in gender_data.items %}{{ count }},{% endfor %}],
        backgroundColor: ['#2964d6', '#ff0081', '#FFCE56', '#A56E91'],
      }]
    },
    options: {
      radius: '50%',
      cutout: '70%',
      plugins: {
        legend: {
          labels: {
            color: '#fff'
          }
        },
      }
    }
  });

  const yearLevelChart = new Chart(document.getElementById('yearLevelChart'), {
    type: 'line',
    data: {
      labels: [{% for level in year_level_data %}'Year {{ level.year_level }}',{% endfor %}],
      datasets: [{
        label: 'Students per Year Level',
        data: [{% for level in year_level_data %}{{ level.count }},{% endfor %}],
        backgroundColor: ['#4ED7F1', '#6FE6FC', '#A8F1FF', '#FFFA8D'],
      }]
    },
    options: {
      scales: {
        y: { beginAtZero: true }
      },
      plugins: {
        legend: {
          labels: {
            color: '#fff',
          }
        },
      }
    }
  });
  
  const ageStatsChart = new Chart(document.getElementById('ageStatsChart'),  {
      type: 'bar',
      data: {
        labels: ['agaverage ages', 'minimum age', 'maximum age'],
        datasets: [{
          label: 'Student Age Statistics',
          data: [{{ average_age }}, {{ min_age }}, {{ max_age }}],
          borderWidth: 1,
          backgroundColor: ['#626F47', '#A4B465', '#F5ECD5', '#FFFA8D'],
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
  });
</script>
{% endblock %}
