{% extends "IMS_app/base.html" %} {% load static %} {% block content %}

<form class="other-student-form-container">
  <div class="container" style="grid-area: box1">
    <div class="header">
      <button class="back-button" type="button" onclick="window.location.href='{% url 'faculty_list' %}'">
          <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#F3F3F3"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
      </button>
      <h2>{{ faculty.name }}'s Full Details</h2>
    </div>

    <div class="name-container">
      <label>Name</label>
      <input style="width: 700px;" type="text" value="{{ faculty.name }}" readonly />
    </div>

    <div class="subjects-container">
      <h2>Subjects</h2>
      <ul>
        {% for sub in subjects %}
        <li style="color: black;">
            {{sub.code}} - {{sub.description}}
        </li>
        {% empty %}
        <li>No subjects</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</form>

{% endblock content %}
