{% extends "IMS_app/base.html" %} {% load static %} {% block content %}

  <form class="other-student-form-container">
    <div class="container" style="grid-area: box1">
      <div class="header">
        <button class="back-button" type="button" onclick="window.location.href='{% url 'student_list' %}'">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#F3F3F3"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
        </button>
        <h2>{{ student.first_name }}'s Full Details</h2>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" value="{{ student.name }}" readonly />
      </div>

      <div class="form-group">
        <label>Course</label>
        <input type="text" value="{{ student.course }}" readonly />
      </div>
      <div class="form-group">
        <label>Student ID</label>
        <input type="text" value="{{ student.student_id }}" readonly />
      </div>
    </div>


      <!-- <div class="form-group">
        <label>Current Address</label>
        <textarea class="address-input" readonly>
  {{ student.current_address }}</textarea
        >
      </div>
      <div class="form-group">
        <label>Permanent Address</label>
        <textarea class="address-input" readonly>
  {{ student.permanent_address }}</textarea
        >
      </div>-->
      <!-- <div class="form-group">
        <label>Emergency Contact Name</label>
        <input
          type="text"
          value="{{ student.emergency_contact_name }}"
          readonly
        />
      </div>
      <div class="form-group">
        <label>Emergency Contact Phone</label>
        <input
          type="text"
          value="{{ student.emergency_contact_phone }}"
          readonly
        />
      </div>
      <div class="form-group">
        <label>Emergency Contact Relation</label>
        <input
          type="text"
          value="{{ student.get_emergency_contact_relation_display }}"
          readonly
        />
      </div>
    </div> -->

  </form>

{% endblock content %}
