{% extends "IMS_app/base.html" %} {% load static %} {% block content %}

<div class="modal-wrapper">
    <form method="post" class="modal-content container">
        {% csrf_token %}
            
        <div class="modal-info-container" style="grid-area: info1">
            <div class="header">
                <button type="button" class="back-button" onclick="window.location.href='{% url 'student_list' %}'">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#F3F3F3"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                </button>
                <h2>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Student</h2>
            </div>
            <h3>Personal Info</h3>
            <label for="id_first_name">Name</label>
             {{ form.name }}
                
            <label for="id_student_id">Student ID</label>
            {{ form.student_id }}

                
        </div>

        
        <div class="modal-info-container" style="grid-area: info3">
            <button class="cancel-button" type="button" onclick="window.location.href='{% url 'student_list' %}'">Cancel</button>
        </div>

        <div class="modal-info-container" style="grid-area: info4">
            <button class="save-button" type="submit">Save</button>
        </div>
    </form>
</div>

<!-- JavaScript for Dynamic Address Population -->
{% endblock %}