


/* Modal Box */
.modal-content {
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "info1 info2"
        "info1 info2"
        "info3 info4"
    ;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2em 2em;
    overflow: hidden;
}

.modal-info-container {
    border-radius: 1em;
    padding: 0;
    color: #333;
    width: 100%;
    align-items: left;

}

.modal-content h2 {
    font-weight: 600;
}

.cancel-button {
    width: 100%;
    height: 50px;
    font: 16px;
    padding: 0 15px;
    color: #8868e7;
    border:2px solid #8868e7;
    background-color: #fff;
    border-radius: 10em;
    margin-bottom: 1em;
    font-weight: bold;
}

.cancel-button:hover {
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.save-button {
    min-width: 100%;
    height: 50px;
    padding: 12px;
    background: #8868e7;
    border-radius: 10em;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

.save-button:hover {
    background-color: #8868e7;
    color:  #fff;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}



/* Form Container */
.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

/* Labels */
.modal-content label {
    font-weight: bold;
    width: 100%;
}

/* Input, Select, and Textarea Fields */
.modal-content select,
.modal-content textarea,
.modal-content input  { 
    width: 100%;
    height: 35px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #333;
}

.modal-content input::placeholder {
    color: #333;
}

.select-cour

/* Placeholder Text Color */
.modal-content input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.modal-content form label {
    text-align: center;
}

/* Checkbox Container */
.checkbox-container {
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.modal-content input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #333;
    cursor: pointer;
}




@media (max-width: 425px) {
    .modal-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "info1"
            "info2"
            "info4"
            "info3"
        ;
    }
    .modal-content button {
        width: 80vw;    
    }
    .modal-content select,
    .modal-content textarea,
    .modal-content input  { 
        min-width: 100%;
    }
}