
.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 1em;
}

/* Modal Box */
.modal-content {
    gap: 1em;
    display: grid;
    width: 50%;
    height: 98%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "info1 info2"
        "info1 info2"
        "info3 info4"
    ;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1em 2em;
}

.subject-modal-content {
    gap: 1em;
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 220px;
    grid-template-areas: 
        "info1 info1"
        "info2 info2"
        "info3 info4"
    ;
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 2em 2em;
    overflow: hidden;
}   

.file-upload-content {
    width: 20%;
    height: 50%;
    gap: 1em;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 10em 3em;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255, .2);
    background-color: #fff;
    backdrop-filter: blur(20px);
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* Close Button */
.close {
    height: 2.5em;
    width: 2.5em;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #fff;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.close:hover {
    border-radius: 2em;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
}

/* Form Container */
.file-upload-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    gap: 1em;
}


.file-upload-content input{
    width: 100%;
    font-size: 16px;
    height: 45px;
    padding: 0.8em .5em;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #333; 
}


.file-upload-content button {
    width: 100%;
    height: auto;
    padding: 12px;
    background: #8868e7;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.file-upload-content button:hover {
    background-color: #8868e7;
    color:  #fff;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
.modal-info-container {
    border-radius: 1em;
    padding: 0;
    color: #333;
    width: 100%;
    align-items: left;
}

.modal-content h2 {
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20px;
    padding-bottom: 15px;
}

.header h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    margin-bottom: 1em;
}

.back-button {
    height: 100px;
    width: 100px;
    border: none;
    background-color: transparent;
    svg {
        fill: #333;
    }
}

.back-button:hover {
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
}

.cancel-button {
    width: 100%;
    height: 50px;
    font: 16px;
    padding: 0 15px;
    color: #8868e7;
    border:2px solid #8868e7;
    background-color: #fff;
    border-radius: 10em;
    margin-bottom: 1em;
    font-weight: bold;
}

.cancel-button:hover {
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.save-button {
    min-width: 100%;
    height: 50px;
    padding: 12px;
    background: #8868e7;
    border-radius: 10em;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

.save-button:hover {
    background-color: #8868e7;
    color:  #fff;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}



/* Form Container */

.subject-modal-content form,
.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

/* Labels */

.modal-info-container label,
.subject-modal-content label,
.modal-content label {
    font-weight: bold;
    width: 100%;
}

/* Input, Select, and Textarea Fields */  
.other-student-form-container textarea,
.subject-modal-content textarea, 
.subject-modal-content input,
.modal-content input  { 
    width: 100%;
    height: 35px;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #333;
}
  
.subject-modal-content select,
.modal-content select {
    width: 100%;
    height: 35px;
    padding: 5px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #333;
}

.modal-content input::placeholder {
    color: #333;
}

/* Placeholder Text Color */
.modal-content input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.modal-content form label {
    text-align: center;
}

/* Checkbox Container */
.checkbox-container {
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.modal-content input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #333;
    cursor: pointer;
}




@media (max-width: 425px) {
    .modal-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "info1"
            "info2"
            "info4"
            "info3"
        ;
    }
    .modal-content button {
        width: 80vw;    
    }
    .modal-content select,
    .modal-content textarea,
    .modal-content input  { 
        min-width: 100%;
    }
}